.button {
    position: relative;
    display: inline-block;
    min-width: 135px;
    padding: 16px 30px 16px 30px;
    color: $dark-gray;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: top;
    background-color: transparent;
    border: 1px solid $dark-gray;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
        color: darken($color: $dark-gray, $amount: 20%);
        border-color: darken($color: $dark-gray, $amount: 20%); 
    }
}

.button--page-description {
    padding-top: 21px;
    padding-bottom: 21px;
    color: $white;
    font-size: 13.3px;
    line-height: 15px;
    background-color: $green;
    border: none;

    &:hover {
        color: darken($color: $white, $amount: 20%);
        background-color: darken($color: $green, $amount: 10%);
        border-color: none; 
    }
}

.button--subscription {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $white;
    font-size: 16px;
    line-height: 150%;
    border-color: $white;

    &:hover {
        color: darken($color: $white, $amount: 20%);
        border-color: darken($color: $white, $amount: 20%); 
    }
}

.button--mobile-app {
    min-width: 131px;
    padding: 17px 40.5px;
    color: $white;
    text-transform: none;
    background-color: $red;
    border: none;
    border-radius: 32px;

    &:hover {
        color: darken($color: $white, $amount: 20%);
        background-color: darken($color: $red, $amount: 5%);
    }
}

.button--with-icon {
    display: grid;
    grid-template-columns: 20px auto;
    column-gap: 16px;
    align-items: center;
    min-width: 200px;
    padding: 20px 30px;
    text-align: left;
    border: none;
}

.button--mix {
    background-color: $purple;

    &:hover {
        background-color: darken($color: $purple, $amount: 5%);
    }
}

.button--favorites {
    background-color: $red;

    &:hover {
        background-color: darken($color: $red, $amount: 5%);
    }
}

.button__icon {
    fill: $white;
    transition: 0.4s;
}

.button--with-icon:hover .button__icon {
    fill: darken($color: $white, $amount: 20%);
}

.button__text {
    color: $white;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 150%;
    text-transform: uppercase;
    transition: 0.4s;
}

.button--with-icon:hover .button__text {
    color: darken($color: $white, $amount: 20%);
}