.mobile-app {
    padding: 0 0 100px;
}

.mobile-app__container {
    padding: 0 20px;
    
    @media (min-width: $desktop-width) {
        width: 1200px;
        margin: 0 auto;
        padding: 0;
    }
}

.mobile-app__title {
    margin-bottom: 48px;
    color: $white;
    text-align: center;
}

.mobile-app__content {
    @media (min-width: 820px) {
        display: grid;
        grid-template-columns: 1fr 333px;
        column-gap: 35px;
    }

    @media (min-width: $desktop-width) {
        grid-template-columns: 600px 333px;
        column-gap: 144px;
    }
}

.mobile-app__image {
    display: block;
    width: 333px;
    margin: 0 auto 16px;

    @media (min-width: 820px) {
        margin: 0;
        order: 2;
    }
}

.mobile-app__text-wrapper {
    @media (min-width: 820px) {
        order: 1;
        padding-top: 19px;
    }
}

.mobile-app__text {
    margin: 0 0 15px;
    color: $dark-gray;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    @media (min-width: $desktop-width) {
        margin-bottom: 16px;
    }
}