.subscription {
    padding: 100px 0 81px;

    @media (min-width: $desktop-width) {
        padding: 101px 0 65px;
    }
}

.subscription__container {
    padding: 0 20px;
    
    @media (min-width: $desktop-width) {
        width: 1200px;
        margin: 0 auto;
        padding: 0;
    }
}

.subscription__title {
    margin-bottom: 46px;
    color: $white;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $desktop-width) {
        margin-bottom: 45px;
    }
}

.subscription__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 380px));
    column-gap: 25px;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $desktop-width) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 48px;
        margin-bottom: 43px;
    }
}

.subscription__item {
    position: relative;
    margin-bottom: 50px;
    padding: 19px 24px 46px;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;

    &:last-child {
        margin-bottom: 40px; 
    }

    @media (min-width: $desktop-width) {
        margin-bottom: 0;
        padding: 24px 25px 46px;

        &:last-child {
            margin-bottom: 0; 
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        display: block;
        background-color: $black;
        transition: 0.4s;
        opacity: 0%;
    }

    &:hover::before {
        opacity: 50%;
    }
}

.subscription__item--free {
    background-image: url("../images/subscribe_1.png");
}

.subscription__item--standard {
    background-image: url("../images/subscribe_2.png");
}

.subscription__item--premium {
    background-image: url("../images/subscribe_3.png");
}

.subscription__item-title {
    position: relative;
    z-index: 200;
    padding-bottom: 200px;
    color: $white;
    text-align: center;

    @media (min-width: $desktop-width) {
        line-height: 36px;
    }
}

.subscription__item-price-wrapper {
    position: relative;
    z-index: 200;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 16px;
    justify-content: center;
    margin-bottom: 40px;
}

.subscription__item-price {
    color: $white;
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
}

.subscription__item-price-currency {
    align-self: start;
    color: $white;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.subscription__item-button {
    position: relative;
    z-index: 200; 
    margin-bottom: 64px;
}

.subscription__item-text {
    position: relative;
    z-index: 200;
    margin: 0 0 18px;
    color: $white;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 150%;
    text-align: center;
}

.subscription__text {
    margin: 0 0 18px;
    color: $white;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}