@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf"); }
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf"); }
@font-face {
  font-weight: 500;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf"); }
*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #CACACA;
  background-color: #08020D; }

h1 {
  margin: 0;
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase; }
  @media (min-width: 1240px) {
    h1 {
      font-size: 60px;
      line-height: 90px;
      font-weight: 700; } }

h2 {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase; }
  @media (min-width: 1240px) {
    h2 {
      font-size: 38px;
      line-height: 57px;
      font-weight: 700; } }

h3 {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase; }
  @media (min-width: 1240px) {
    h3 {
      font-size: 24px;
      line-height: 45px;
      font-weight: 400; } }

h4 {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase; }
  @media (min-width: 1240px) {
    h4 {
      font-size: 18px;
      line-height: 27px;
      font-weight: 700; } }

.page-header__container {
  position: relative;
  margin: 0 20px; }
  @media (min-width: 1240px) {
    .page-header__container {
      width: 1200px;
      margin: 0 auto; } }

.page-header__inner {
  position: absolute;
  top: 27px;
  width: 100%; }
  @media (min-width: 1240px) {
    .page-header__inner {
      top: 25px;
      display: grid;
      grid-template-columns: auto 1fr 248px;
      grid-column-gap: 90px; } }

.page-header__logo {
  margin-bottom: 17px; }
  @media (min-width: 1240px) {
    .page-header__logo {
      margin-bottom: 0; } }

.page-header__nav {
  margin-bottom: 18px;
  font-size: 11px;
  line-height: 13px; }
  @media (min-width: 1240px) {
    .page-header__nav {
      margin-bottom: 0; } }

.page-header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 1240px) {
    .page-header__nav-list {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      display: inline-grid;
      grid-template-columns: repeat(4, auto);
      grid-column-gap: 24px; } }

.page-header__nav-item {
  margin-bottom: 3px; }
  @media (min-width: 1240px) {
    .page-header__nav-item {
      margin-bottom: 0; } }

.page-header__nav-item-link {
  color: #CACACA;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s; }
  .page-header__nav-item-link:hover {
    color: #FFFFFF; }
  .page-header__nav-item-link:not([href]) {
    color: #E0E0E0; }
  .page-header__nav-item-link:not([href]):hover {
    color: #E0E0E0; }
  @media (min-width: 1240px) {
    .page-header__nav-item-link {
      font-weight: 400; } }

@media (min-width: 1240px) {
  .page-header__search {
    width: 248px; } }

.page-header__search-input {
  display: block;
  width: 100%;
  max-width: 375px;
  padding: 5px 10px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 13.3px;
  line-height: 15px;
  background-color: #3C3B3D;
  border: none;
  border-radius: 50px;
  transition: 0.4s; }
  .page-header__search-input:hover {
    color: #cccccc;
    background-color: #2f2e30; }

.page-header__search-input::placeholder {
  color: #757575;
  font-weight: 400;
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase; }

.logo {
  display: grid;
  grid-template-columns: 24px auto;
  grid-gap: 16px;
  align-items: center; }

.logo__text {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase; }
  @media (min-width: 1240px) {
    .logo__text {
      font-weight: 400;
      line-height: 16px; } }

.page-description {
  padding: 250px 0 200px;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover; }
  @media (min-width: 1240px) {
    .page-description {
      padding: 200px 0; } }

.page-description__container {
  padding: 0 20px; }
  @media (min-width: 1240px) {
    .page-description__container {
      width: 1200px;
      margin: 0 auto; } }

.page-description__form-wrapper {
  max-width: 570px;
  margin: 0 auto; }

.page-description__title {
  text-align: center; }

.page-description__subtitle {
  margin-bottom: 16px;
  text-align: center; }
  @media (min-width: 1240px) {
    .page-description__subtitle {
      margin-bottom: 31px; } }

.page-description__text {
  margin: 0 0 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center; }
  @media (min-width: 1240px) {
    .page-description__text {
      margin-bottom: 17px; } }

.page-description__form-wrapper {
  display: grid;
  grid-template-areas: "name-input" "email-input" "button";
  grid-gap: 24px; }
  @media (min-width: 1240px) {
    .page-description__form-wrapper {
      grid-template-areas: "name-input email-input" "button button"; } }

.page-description__name-input,
.page-description__email-input {
  padding: 15px 22px;
  color: #CACACA;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  background-color: transparent;
  border: 2px solid #CACACA;
  border-radius: 3px;
  transition: 0.4s; }
  .page-description__name-input:hover,
  .page-description__email-input:hover {
    color: #979797;
    border-color: #979797; }

.page-description__name-input::placeholder,
.page-description__email-input::placeholder {
  color: #CACACA;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px; }

.page-description__name-input {
  grid-area: name-input; }

.page-description__email-input {
  grid-area: email-input; }

.page-description__button {
  grid-area: button; }

.button {
  position: relative;
  display: inline-block;
  min-width: 135px;
  padding: 16px 30px 16px 30px;
  color: #CACACA;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: top;
  background-color: transparent;
  border: 1px solid #CACACA;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s; }
  .button:hover {
    color: #979797;
    border-color: #979797; }

.button--page-description {
  padding-top: 21px;
  padding-bottom: 21px;
  color: #FFFFFF;
  font-size: 13.3px;
  line-height: 15px;
  background-color: #34C176;
  border: none; }
  .button--page-description:hover {
    color: #FFFFFF;
    background-color: #29995d;
    border-color: none; }

.button--subscription {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 150%;
  border-color: #FFFFFF; }
  .button--subscription:hover {
    color: #cccccc;
    border-color: #cccccc; }

.subscription {
  padding: 100px 0 81px; }
  @media (min-width: 1240px) {
    .subscription {
      padding: 101px 0 65px; } }

.subscription__container {
  padding: 0 20px; }
  @media (min-width: 1240px) {
    .subscription__container {
      width: 1200px;
      margin: 0 auto;
      padding: 0; } }

.subscription__title {
  margin-bottom: 46px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase; }
  @media (min-width: 1240px) {
    .subscription__title {
      margin-bottom: 45px; } }

.subscription__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 380px));
  grid-column-gap: 25px;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 1240px) {
    .subscription__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 48px;
      margin-bottom: 43px; } }

.subscription__item {
  position: relative;
  margin-bottom: 50px;
  padding: 19px 24px 46px;
  background-position: center;
  background-size: cover;
  border-radius: 1rem; }
  .subscription__item:last-child {
    margin-bottom: 40px; }
  @media (min-width: 1240px) {
    .subscription__item {
      margin-bottom: 0;
      padding: 24px 25px 46px; }
      .subscription__item:last-child {
        margin-bottom: 0; } }
  .subscription__item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: block;
    background-color: #08020D;
    transition: 0.4s;
    opacity: 0%; }
  .subscription__item:hover::before {
    opacity: 50%; }

.subscription__item--free {
  background-image: url("../images/subscribe_1.png"); }

.subscription__item--standard {
  background-image: url("../images/subscribe_2.png"); }

.subscription__item--premium {
  background-image: url("../images/subscribe_3.png"); }

.subscription__item-title {
  position: relative;
  z-index: 200;
  padding-bottom: 200px;
  color: #FFFFFF;
  text-align: center; }
  @media (min-width: 1240px) {
    .subscription__item-title {
      line-height: 36px; } }

.subscription__item-price-wrapper {
  position: relative;
  z-index: 200;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 16px;
  justify-content: center;
  margin-bottom: 40px; }

.subscription__item-price {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 64px;
  line-height: 100%; }

.subscription__item-price-currency {
  align-self: start;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%; }

.subscription__item-button {
  position: relative;
  z-index: 200;
  margin-bottom: 64px; }

.subscription__item-text {
  position: relative;
  z-index: 200;
  margin: 0 0 18px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 150%;
  text-align: center; }

.subscription__text {
  margin: 0 0 18px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center; }

.page-footer {
  background: linear-gradient(265.08deg, #95390C 14.9%, #5328A1 68.95%); }

.page-footer__container {
  padding: 0 20px; }
  @media (min-width: 1240px) {
    .page-footer__container {
      width: 1200px;
      margin: 0 auto; } }

/*# sourceMappingURL=app.css.map */
