*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-width: 414px;
    font-family: $main-font;
    font-size: 18px;
    line-height: 1.5;
    color: $dark-gray;
    background-color: $black;
}

h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;

    /* TODO: Добавь разрешение для десктопа */
    /* @media () {
        font-size: 60px;
        line-height: 90px;
        font-weight: 700;
        text-transform: uppercase;
    } */
}

h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    text-transform: uppercase;

    /* TODO: Добавь разрешение для десктопа */
    /* @media () {
        font-size: 38px;
        line-height: 57px;
        font-weight: 700;
        text-transform: uppercase;
    } */
}